<team-center-search display_txt="Find the Settings... " ></team-center-search>

<mat-toolbar class="rounded bg-white mb-3  d-flex justify-content-between fs-6 ">
    Settings  </mat-toolbar>

<mat-list class="bg-white h-100">
    <mat-list-item routerLink="../document" > Document Catergory</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="../product">Products</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="../protocol">Protocol</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="../apps">Apps</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
