<!-- <mat-toolbar class="hidden-icon " style="height:5%; background: #121432 !important;">
     <mat-icon  class="text-white">menu</mat-icon></mat-toolbar> -->
<mat-sidenav-container class="example-container bg-info">

    <mat-sidenav mode="side" [opened]=isDrawerOpened class="bg-primary mdrawer mx-0 px-0" #drawer>

        <div class="text-center"><img [src]="getUrl()" class="rounded-circle  w-25
            mt-5 " alt="Person Image" (error)="img.onerror=null;img.src=image" #img />

        </div>
        <div class="text-center text-white px-1 py-3">
            <p><b>{{userinfo.user_name | titlecase}}<br>{{userinfo.role|titlecase}}<br>{{userinfo.email}}</b></p>
        </div>

        <div class="d-flex flex-column">
            <div class="p-4 px-5 text-nowrap cursor-pointer" [ngClass]="p.isActive?'active':'inactive'"
                routerLink="./projects" routerLinkActive="active" #p="routerLinkActive">
                <mat-icon svgIcon="project"></mat-icon>
                <span class=" px-4"> Projects</span>
            </div>
            <div class="p-4 px-5 text-nowrap cursor-pointer" [ngClass]="u.isActive?'active':'inactive'"
                routerLinkActive="active" #u="routerLinkActive" routerLink="./users">
                <mat-icon svgIcon="users"></mat-icon>
                <span class="px-4 ">Users</span>
            </div>
            <div class="p-4 px-5 text-nowrap cursor-pointer" [ngClass]="s.isActive?'active':'inactive'"
                routerLinkActive="active" #s="routerLinkActive" routerLink="./settings">
                <mat-icon svgIcon="settings"></mat-icon>
                <span class="px-4 ">Settings</span>
            </div>
            <div class="p-4 px-5 inactive text-nowrap cursor-pointer" (click)="routeTo()"> <mat-icon
                    svgIcon="logout"></mat-icon>
                <span class="px-4 ">Logout</span>
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content class="container fex  ">


        <div class="row ">
            <div class="col-md-9 col-xs-12  container">
                <div class="row">
                    <div class="col-12"><router-outlet></router-outlet></div>
                </div>
            </div>

            <div class="col-md-3 my-2   col-s-12 d-flex flex-column flex-nowrap "
                style="overflow-y: scroll;height: 98vh;border:15px solid white;border-radius: 4%;">
                <h3 class="recent text-primary text-center ">Recents</h3>
                <div class="ln "></div>
                <div *ngFor="let r of recents$ | async" class="flex-shrink-1 ">
                    <small> {{r.data}}</small><br>
                    <b>FileName:</b> <small> {{r.filename}}</small><br>
                    <b>Version:</b> <small> {{r.version}}</small><br>
                    <div class="d-flex justify-content-lg-between flex-shrink-1 justify-content-md-start">
                        <b>Date:</b><small style="padding-top: 2px;"> {{r.Date | date:'dd/MM/yy'}}</small><br>

                        <button class="btn btn-primary mx-4 px-4 py-0 ">View</button>
                    </div>
                    <div class=" my-1 line"></div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>