.example-container {
   width: 100%;
   height: 100%;
}
.fex{
   width:80% !important;
}

.bg-primary {
   background: #121432 !important;
}
.line
{
   border:1px solid gray ;
}
.ln{
   border:3px solid white;
}

.bg-info {
   background: #EBF2FC !important;
}
.mdrawer
{
  // width: 20%;
}

.rounded
{ 
   width: 100% !important;
   height:5.5% !important;
   margin-top: 2%;
  
   border-radius: 25px;
 
}
.rounded2
{
   width: 75% !important;
   height: 5% !important;
   margin-top: 2%;
   border-radius: 1rem;
 
  
}
// .mat-form-field-appearance-outline .mat-form-field-outline {
//     outline: none;
//   }
  
//   .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//     border-color: transparent;
//   }




.inactive{
   color:white;
   opacity: 0.5;
}
.active
{
   color: white;
}
.text-muted
{
   color: white;
   opacity: 0.5;
}



