.flipped-image {
  transform: rotate(90deg);
}

.mat-expansion-panel-header-description {
  flex-grow: 0;

}

button {
  border: none;
  outline: none;
}

.flipped-image1 {
  transform: scaleX(-1);
}

.mat-icon {
  overflow: visible;
}

.rounded {
  width: 100% !important;
  height: 2.5rem !important;
  margin-top: 2%;
  border-radius: 25px;
  color: #0D2C72 !important;
  font-weight: bold;

}
