
<form [formGroup]="addClient">
<div class="fs-5 text-primary text-center pt-3 "><strong>ADD CLIENT</strong> </div>
<div class="mx-5 my-3 ">
    <h6>Clients:</h6> <input type="text" class="form-control m-2" [(ngModel)]="cname" formControlName="clientname">
   
    <h6>No.of.Products:</h6><input type="text" class="form-control m-2" [(ngModel)]="noOfProducts" formControlName="nfproducts">
    <div class="text-center">
    <button mat-dialog-close="true" class="btn btn-danger mx-5 "> Close</button>
    <button (click)="sendClient()" class="btn btn-success mx-5"> Submit</button>
</div>
</div>
</form>

