.rounded2
{
   width: 75% !important;
   height: 5% !important;
   margin-top: 2%;
   border-radius: 1rem;
}
// .mat-form-field-appearance-outline .mat-form-field-outline {
//     outline: none;
//   }
  
//   .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//     border-color: transparent;
//   }
input
{
    border: none; outline: none;
    font-size:medium;
    width:100%;
    padding-left: 10px;
}

    .mat-toolbar-row, .mat-toolbar-single-row {
      height:10px !important;
  }
   