
.main {
  height: 100%;
  width: 100%;
  background-color: #EBF2FC;
}
.box{
  background-color: #fff;
}
.welcome
{
  font: normal normal normal 45px/63px Myriad Pro;
letter-spacing: 0px;
color: #266ED5;
opacity: 1;
font-size:xx-large;
}
.card
{
  max-width:28rem ;
  padding: 1rem 2rem;
  min-height:15rem;
  max-height: 17rem;
  
}
