.txt-color
{
    color: #0D2C72 !important;
    opacity: 0.8 !important;
   
}
.rounded
{ 
   width: 100% !important;
  height: 2.5rem !important ;
//    margin-top: 2%;
  
   border-radius: 25px;
 
}

.mat-icon
{
    overflow: visible;
}
.flipped-image {
    transform: scaleX(-1); 
  }
  .txt-color
  {
      color: #0D2C72 !important;
      opacity: 0.8 !important;
     
  }
