
.txt
{
    font: normal normal normal 18px/26px Myriad Pro;
    font-size: medium;
}


.btn-inside
{
    font: normal normal normal 22px/31px Myriad Pro;
    font-size: large;
    letter-spacing: 0px;
    min-width: 40%;
    min-height: fit-content;
    border-radius: 2em;
    opacity: 1;
}

#mat-mdc-hint-0
{
  color: red;
}

input {
  --webkit-appearance:none;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.email
{
  border: none;outline: none; border-bottom: 1px solid; min-width: 100%;
}

.otp
{
font: normal normal 600 35px/49px Myriad Pro;
font-size:x-large;
 }



