<form [formGroup]="addUser" >

    <div class="text-center text-primary fs-5 ">
        ADD USER
    </div>
    <div class="m-3 p-3">
        <!-- <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email_id" >
        </mat-form-field> -->
        Name:<input type="text" class="form-control px-5 mb-2" [(ngModel)]="uname" formControlName="username" >
        Role:<input type="text" class="form-control px-5 mb-2" [(ngModel)]="role" formControlName="role">
        Email:<input type="email" class="form-control px-5 mb-2" [(ngModel)]="email_id" formControlName="email">
        UserType:<input type="email" class="form-control px-5 mb-2" [(ngModel)]="utype" formControlName="usertype">
        Upload Image:<input type="file" class="form-control px-5 mt-1" >
    </div> 
    <div class="text-center mb-4 mt-2"><button (click)="sendUser()" class="btn btn-primary "> Submit</button></div>
</form>