.text-muted
{
   color: white;
   opacity: 0.5;
}
.rounded {
   width: 100% !important;
   height: 2.5rem !important;
   margin-top: 2%;
   border-radius: 25px;
   color: #0D2C72 !important;
   font-weight: bold;

}